<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-8">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Nouveau produit</mat-card-title>
                    <mat-card-subtitle>Ce formulaire vous permet d'ajouter une nouveau produit.</mat-card-subtitle>
                </mat-card-header>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Designation</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Quantité</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Prix unitaire</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Catégorie</span>
                                </div>
                                <select class="form-control">
                                    <option>Téléphone</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Unité</span>
                                </div>
                                <select class="form-control">
                                    <option>Kg</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Emplacement</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Fournisseurs</span>
                                </div>
                                <select class="form-control">
                                    <option>ABZ SARL</option>
                                    <option>Default select</option>
                                    <option>Default select</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <button mat-raised-button color="primary">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-card>
        </div>
        <div class="col-4">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <div class="card text-center pt-2">
                        <h2>10</h2>
                        <p class="font-weight-bold text-dark text-info">Produits</p>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="card text-center pt-2">
                        <h2>10</h2>
                        <p class="font-weight-bold text-dark text-info">Catégories</p>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="card text-center pt-2">
                        <h2>10</h2>
                        <p class="font-weight-bold text-dark text-info">Fournisseurs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>