<div class="content">
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile class="left-connexion">
                    <div class="wellcome">
                        <h2>Wellcome to SOGEES SOft</h2>
                        <p>Application de gestion et d'administration de stock de marchandise de votre entreprise.</p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="wellcome">
                        <div>
                            <h1>Connexion</h1>
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Login</mat-label>
                                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Mot de passe</mat-label>
                                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                                </mat-form-field>
                            </form>
                            <button (click)="onBoardComponent()" mat-raised-button color="primary">Connexion</button>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>