table {
    width: 100%;
}

.content{
  padding: 20px;
  display: flex;
}

.selection{
  flex-grow: 1;
  margin-right: 30px;
}

.selection-item{
  width: 100%;
  text-align: left;
}

.mat-elevation-z8{
  flex-grow: 8;
}
