table {
    width: 100%;
}

.content{
  padding: 20px;
  display: flex;
}

.selection{
  flex-grow: 1;
  margin-right: 30px;
}

.selection-item{
  width: 100%;
  text-align: left;
  height: 50px;
}

.mat-elevation-z8{
  flex-grow: 8;
}

mat-form-field{
  width: 120px;
  margin-right: 10px;
  
}
