<app-header></app-header>
<div class="content">
  <div class="selection">
    <mat-card class="mat-elevation-z8">
      <button (click)="addNewProduct()" class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons">
          vertical_align_bottom
        </span>
        Nouvelles entrée
      </button><br><br>
      <button class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons">
          vertical_align_top
        </span>
        Nouvelle sortie
      </button><br><br>
      <button class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons">
          widgets
        </span>
        Nouvelle catégories
      </button><br><br>
      <button class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons" color="warn">
          contact_page
        </span>
        Nouveaux fournisseurs
      </button> <br><br>
      <button class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons">
          notification_important
        </span>
        Alert
      </button><br><br>
      <button class="selection-item" mat-stroked-button color="primary">
        <span class="material-icons">
          system_update_alt
        </span>
        Export(Excel)
      </button>
    </mat-card>
  </div>
  <div class="mat-elevation-z8">
    <div style="margin-top: 10px; padding-left: 20px; display: block;">
      <div class="row container">
        <div class="col">
          <label for="exampleFormControlSelect1">ID</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlSelect1">Catégories</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlSelect1">Fournisseurs</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlSelect1">Emplacement</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlSelect1">Unité</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>

      </div>
    </div>
    <div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Catégories</th>
            <th scope="col">Fournisseurs</th>
            <th scope="col">Designateur</th>
            <th scope="col">Quantité</th>
            <th scope="col">PU HT</th>
            <th scope="col">PU TTA</th>
            <th scope="col">Unité</th>
            <th scope="col">Emplacement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>